.bgColor {
    background-color: #FFFFFF;
}
header {
    background-color: #1F45FC;
    height: 150px;
    border-radius: 0px 0px 25px 25px;
    padding: 10px;
}
.button {
    height: 32px;
}
.col-md-4{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.col-md-8{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
header h1 {
    font-size: 45px;
    margin-left: 40px;
    margin-top: 10px;
    color: #FFFFFF;
    cursor: default;
    font-weight: bold;
}
.nav-pills {
    text-align: center;
}
.nav-pills > li > a {
    border-radius: 4px;
    margin-top: 21px;
    border: 2px solid black;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 6px 15px;
}
.col-md-8 >a{
    font-size: 15px;
}
.nav-pills > li > a {
    color: #FF0000;;
    border-radius: 5px;
    font-weight: bold;
    height: 40px;
    font-size: 18px;
}
.infoList {
    background-color: #FBF6D9;
    height: auto;
    width: 120%;
    border-radius: 10px;
    border: 1px solid #D2D6D5;
    margin: 5px;
    box-shadow: 0 5px 15px black;
}

.displayList {
    overflow-y: scroll;
    border-radius: 25px;
    height: 768px;
}
.image {
    padding: 24px;
    padding-bottom: 12px;
    width: auto;
    height: auto;
}
.nav-pills > li > a {
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 40px;
}
.name >a{
    padding-top: 10px;
    color: #FF0000;
    font-weight: bold;
}
.address {
    cursor: default;
    padding-bottom: 2px;
}
.phoneNo {
    cursor: default;
}
.displayMap {
    height: 800px;
    border: 1px solid gray;
}
#first-row {
    background-color: #1F45FC;
}
.ratingScale{
    background-color: #A52A2A;
    font-size: 13px;
    width: 10%;
    border-radius: 10px;
    padding: 5px !important;
    color:#FFFFFF;
    text-align: center;
    cursor: default;
}



